<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Codefellowship</title>
</head>
<body>
<h1>Codefellowship</h1>
<h3>Welcome!</h3>
<p>This is a place for Codefellows students and alumni to hang out and support each other.</p>
<p>If you haven't done so already, be sure to <a th:href="@{'/login'}" method="GET">sign in</a>.</p>
<p>If you're already logged in, be sure to check out your <a th:href="@{'/user_profile'}" method="GET">profile
    page</a>.</p>
<p>And if you need to create a new account, you can do so <a th:href="@{'/signup'}" method="GET">here</a>.</p>
<a th:href="@{'/logout'}" method="POST">Logout</a>
</body>
</html>