<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Discover</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<header>
    <div th:replace="fragments/navbar :: navbar(${currentUser.username})"></div>
</header>
<body>
<h3>Here are the folks you can follow: </h3>
<!--    TODO: Add if to show alternate message if no one left to follow -->
    <div th:replace="fragments/users :: userList(${possibleFollows})"></div>
</body>
</html>