<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Feed</title>
</head>
<header>
    <div th:replace="fragments/navbar :: navbar(${currentUser.username})"></div>
</header>
<body>
    <h3>Here are the posts from the people you follow:</h3>
    <div th:replace="fragments/posts :: postList(${posts})"></div>
</body>
</html>